.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.auto {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 8px;
}

.solve {
  width: 100%;
  padding: 5% 20%;
}

.equal {
  font-size: 1rem;
  margin: 0 8px;
}
